include LICENSE *.rst
exclude .editorconfig .pre-commit-config.yaml

# Tests
include tox.ini .coveragerc conftest.py *-requirements.txt
recursive-include tests *.py
exclude .readthedocs.yml .travis.yml

# Documentation
include docs/Makefile
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build
